<div class="row">
    <div class="col">
        <h2>Tree</h2>
        <app-lists-tree></app-lists-tree>

    </div>
    <div class="col">
        <h2>Result ID</h2>
        <app-lists-result></app-lists-result>
    </div>
</div>




