<ul class="tree">
    <ng-template #recursiveList let-treeList>
    <li *ngFor="let item  of treeList">
        {{item .title}}
        <ul *ngIf="item.children.length > 0">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
        </ul>
        <ul *ngIf="item.itemsId.length > 0">
            <li *ngFor="let item  of item.itemsId">
                <mat-checkbox class="checklist-leaf-node"
                              [checked] = "this.hasActive(item)"
                              (change)="toggleActive(item)">{{this.getItem(item).name}}</mat-checkbox>
            </li>
        </ul>
    </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: treeList }"></ng-container>
</ul>